/* Firefox */
@-moz-document url-prefix() {
    * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }

  *::-moz-scrollbar {
    width: 8px;
  }

  *::-moz-scrollbar-track {
    background: transparent;
  }

  *::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  *::-moz-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

/* Chrome, Safari */
*::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}