@use './_themes.scss';
@use './scrollbar.scss';

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bg-color);
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
    position: relative;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // pointer-events: none;
}

.stars::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--stars-bg);
    opacity: 0.4;
}